// Default color
$primary-color: #45bca0;
$secondary-color: #1d242a;
$third-color: #c7d0d8;


$white: #ffffff;
$black: #000000;
$hover-color-text: #f8fafa;
$text-color-primary: #77838f;
$box-shadow-header: rgba(57, 63, 72, 0.3);

$background-wash: #f4f9f6;
